// 轮播图
.index_swiper{
    width: 750rpx;
    height: 340rpx;
    .Slide{
        height: 340rpx;
        width: 100%;
    }
};
// 导航
.nav{
    display: flex;
    padding: 12rpx;
    navigator{
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav_image{
        width: 128rpx;
        height: 140rpx;
    }
};
// 楼层
.floor{
    &_title{
        background-color: #fff;
        .title_image{
            width: 750rpx;
            height: 60rpx;
        }
    }
    &_wrap{
        .wrap_image{
            float: left;
            width: 233rpx;
            height: 188rpx;
            margin: 0 0 10rpx 15rpx;
            &:nth-child(1){
                width: 232rpx;
                height: 386rpx;
            }

        }
    }
}
